#options-group,
.field-min_text,
.field-max_text {
  display: none;
}

#options-group.active,
.field-min_text.active,
.field-max_text.active {
  display: initial;
}

html.dark button,
html.dark input,
html.dark optgroup,
html.dark select,
html.dark textarea {
  background-color: #161d2b;
  color: #e5e7eb;
}

html button,
html input,
html optgroup,
html select,
html textarea {
  background-color: #f3f4f6;
}

select,
input[type='text'],
input[type='number'] {
  padding: 3px 5px;
}

.simplebar-wrapper h3 {
  display: none;
}

.simplebar-wrapper li[class] a {
  display: flex;
  gap: 8px;
}

.simplebar-wrapper li[class] svg {
  font-size: 18px;
}

tr.add-row {
  pointer-events: none;
}

tr.add-row a {
  pointer-events: initial;
}
